.modalContainer {
    display: flex;
    flex-direction: column;
    min-width: 700px;
}
.column {
    background-color: whitesmoke;
}
.modalTitle {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 50px;
    align-self: center;
}
.selected {
  background-color: teal !important;
  color: #ffffff !important;
}
.disabled {
  border: 2px solid black;
}