body {
  margin: 0;
}

.container {
  border: 3px solid teal;
  border-radius: 60px 30px;
  margin: 5%;
  padding: 20px;
}

.grid {
  width: 100%;
  margin: auto;
  justify-content: center;
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
