form textarea[type="text"] {
    width: 100%;
    outline: none;
    border: none;
    background-color: whitesmoke;
    resize: none;
}
form {
    margin-bottom: 56px;
}
.commentLine {
    position: absolute;
    width: 57%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    animation: commentLineScaleIn 0.5s forwards;
}
@keyframes commentLineScaleIn {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}