.container {
    border: 2px solid teal;
    margin: 5%;
    padding: 20px;
  }
  .grid {
    width: 100%;
    margin: auto;
    justify-content: center;
  }
  
  .gridItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }